# alias list .aliases
alias aliases='alias'
alias hk='alias'
alias sc='alias'

alias md='mkdir'
alias rd='rmdir'
alias ll='ls -l'
alias la='ls -la'
alias df='df -h'
alias pg='pgrep -lf'
alias iost='iostat -xkd 1'
alias screens='screen -ls'
alias freq="history | awk '{a[$2]++}END{for(i in a){print a[i] i}}' | sort -rn | head"

alias ssh='ssh -X' # LOL

alias py='python'

# vim
alias v='vim'
alias vi='vim'
alias vw='view'

# git
alias gt='git'
alias got='git'
alias gut='git'
alias gti='git'

alias gitconf='git config --list | less'
alias gitconfig='git config --list | less'
alias gitalias="git config --list | grep alias | sed 's/alias\./git /'"
