
# alias list .aliases
alias aliases='alias'

alias ll='ls -l'
alias la='ls -la'
alias pg='pgrep -lf'
alias iost='iostat -xkd 1'
alias screens='screen -ls'

# vim
alias v='vim'
alias vi='vim'
alias vw='view'

# git
alias got='git'
alias gut='git'
alias gitconf='git config --list | less'
