[user]
	name = aoraptor
	email = aowongster@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	editor = vim
	excludesfile = ~/.gitignore
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lp = log -p
  who = shortlog -s --
  sub = submodule
  undoci = reset --soft HEAD^
  dump = reset --hard HEAD^
  unstage = reset HEAD
[push]
	default = simple
