[user]
	name = alistair
	email = alistair@stumbleupon.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = /home/alistair/.gitignore
	editor = vim
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lp = log -p
  who = shortlog -s --
  sub = submodule
  undoci = reset --soft HEAD^
  dump = reset --hard HEAD
